.palanquin-dark-regular {
    font-family: "Palanquin Dark", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: blanchedalmond;
  }
  
  .palanquin-dark-medium {
    font-family: "Palanquin Dark", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .palanquin-dark-semibold {
    font-family: "Palanquin Dark", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .palanquin-dark-bold {
    font-family: "Palanquin Dark", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  